__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# IDE / OS files
.vscode/
.idea/
.DS_Store

# Heavy or unnecessary files
model.pth
convert_to_onnx.py
